* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 9, 13);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 62);
    color: white;
    width: 100%;
    height: 10vh;
    font-family: 'Onest', sans-serif;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
}

.left{
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Young Serif', serif;
}

.left img {
    width: 60px;
    border-radius: 30px;
    margin: 0px 9px;
}
ul {
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin: 0px 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

ul li a:hover{
    color: rgb(213, 42, 213);
}

.firstSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}



.leftSection, .rightSection{
    width: 40%;
    color: white;
    /* background-color: red; */
}

.leftSection{
    margin: 90px;
    font-size: 3rem;
    color: rgb(183, 183, 117);
    font-family: 'Onest', sans-serif;
    font-family: 'Young Serif', serif;
    
}

.social{
    
    padding: 3px;
    color: rgb(66, 66, 205);
    display: flex;
    justify-content: space-around;
    margin: 72px 120px 0px -50px;
}

.social a{
    font-size: 2.5rem;
    text-decoration: none;
}

.social a:hover{
    color: white;
    cursor: pointer;
}



.rightSectionImage{
    width: 339px;
    margin: 100px;
    border-radius: 50%;
}

.intro{
    /* padding: 80px; */
    font-size: 3rem;
    font-family: 'Onest', sans-serif;
    color: rgb(207, 207, 182);
}

#element{
    color: aquamarine;
    font-size: 3rem;
    font-family: 'Onest', sans-serif;
}

hr{
    margin: 0px 90px;
    height: 2px;
}

.secondSection{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Young Serif', serif;
}

.secondSection h4{
    color: white;
    font-size: 2rem;
    font-family: 'Onest', sans-serif;
    margin: 30px 80px;
}

.secondSection i {
    font-size: 7rem;
    padding: 10px;
}

.secondSection i:hover {
    border: 2px solid red;
    cursor: pointer;
    border-radius: 6px;
}

h6{
    color: white;
    font-size: 1.7rem;
    font-family: 'Onest', sans-serif;
    cursor: pointer;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontend{
    display: flex;
    /* width: 80%; */
    margin: 0px 80px;
    justify-content: space-around;
}

.backend{
    display: flex;
    /* width: 80%; */
    margin: 0px 80px;
    justify-content: space-around;   
}

/* 
.projects{
    padding: 10px;
    display: flex;
    justify-content: space-around;
} */

.pr1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 20vw; */
    height: 40vh;
    /* border: 2px solid red; */
}



.pr1 img{
    margin: 10px;
    width: 15vw;
    height: 40vh;
    border-radius: 10px;
}

.pr1 h6{
    font-size: 1.2rem;
}

.p1 h6 a{
    text-decoration: none;
}

.Design{
    display: flex;
    /* width: 80%; */
    margin: 0px 80px;
    justify-content: space-around;  
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 6px;
    height: 30px;
}

input, textarea:hover{
    border: 2px solid rgb(4, 4, 254);
}

textarea{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 6px;
}

.Contactbtn{
    width: auto;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Onest', sans-serif;
    margin: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.Contactbtn:hover{
    background: black;
    color: white;
}

.contacthead{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Young Serif', serif;
    margin: 30px;
}


.thirdSection{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.leftSectionContact{
    margin: 90px;
    font-size: 3rem;
    color: rgb(183, 183, 117);
    font-family: 'Onest', sans-serif;
}

.contactdetail{
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
    margin: 6px 0px;
}

.contdet{
    font-size: 1.4rem;
    margin: 17px 0px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(21 16 59);
    padding: 10px;
}

h5{
    color: rgb(242, 242, 163);
    font-size: 1.9rem;
    margin: 4px 0px;
    font-family: 'Onest', sans-serif;
}

a{
    text-decoration: none;
}

footer div h6:hover{
    color: green;
}

#resumebtn{
    background: grey;
    color: white;
    font-size: 1.1rem;
    /* color: white; */
    padding: 8px;
    border-radius: 9px;
    width: auto;
    cursor: pointer;
    font-family: 'Onest', sans-serif;
   
}

#resumebtn:hover{
    background-color: rgb(250, 250, 250);
    color: black;
}
